body{
    background-color:#A1A1B2 ;
    text-align: center;
}
#content{
    text-align: left;
    background-color:whitesmoke ;
    display:inline-block;
    padding:30px;
    margin: 30px auto;
    border-radius: 7px;
    border:2px solid grey;

}

#content li{
    list-style: none;
    margin-top:20px;
    border-top:2px dashed darkblue;
}

#content ul{
padding: 0px;
}

.colorbox{
    width:10px;
    height:10px;
    border-radius: 3px;
    float: right;
    margin-right: 112px;
    margin-top: 7px;
}
.lo{
    font-size:0.6em;
    text-decoration: none;
}